/* Body */
body {
  width: 100vw;
  margin: 0;
  /* padding: 0px 20px; */
  font-family: "Karla", sans-serif;
  background-color: #f3f0e9; /* Nude cream background color */
  /* padding-left :20px;
    padding-right:20px; */
}

/* logo */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

/* Navigation */
nav {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 20px 0;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 1rem; /* 16px */
  margin: 0 10px;
  padding: 15px;
  font-weight: 1000;
}

.nav-item:hover {
  background-color: #333;
}

/* Headings */
h5 {
  font-family: "Lato", sans-serif;
  color: white;
  background-color: black;
  text-align: center;
  padding: 20px;
  margin: 0;
}

.first-part {
  background: rgba(0, 0, 0, 0.7) url("images/hero-background.jpg"); /* Background image added here */
  background-size: cover; /* Ensure the image covers the entire area */
  background-position: center; /* Center the background image */
  background-blend-mode: darken;
  height: 600px;
}

h1 {
  font-family: "Lato", sans-serif;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 0;
  padding-top: 150px;
}

.welcome {
  padding-top: 50px;
  margin: 10px;
}

.welcome h2 {
  font-size: 32pt;
}

.first-part p {
  padding: 100px;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 1000;
  font-size: larger;
}

.content {
  background-color: #dfd3bd;
}

.heading-strong {
  font-family: "Lato", sans-serif;
  color: #d69e3d; /* Gold color */
  background-color: #000000;
  text-align: center;
  padding: 20px 0;
  margin: 0;
}

.heading1 {
  font-family: "Lato", sans-serif;
  color: #966f2c; /* Dark brown color */
  text-align: left;
  margin-left: 15px;
}

.heading2 {
  font-family: "Lato", sans-serif;
  color: #000000; /* Dark brown color */
  text-align: left;
  margin-left: 15px;
}

.heading3 {
  font-family: "Lato", sans-serif;
  color: #966f2c; /* Dark brown color */
  text-align: center;
}
.heading4 {
  font-family: "Lato", sans-serif;
  color: #000000; /* Dark brown color */
  text-align: center;
  font-weight: bold;
}

/* Responsive Typography */
@media (max-width: 600px) {
  /* Mobile */
  h1 {
    font-size: 2.027rem; /* 32.44px */
  }
  h2.heading1,
  h2.heading3 {
    font-size: 1.802rem; /* 28.83px */
  }
  h3.heading1,
  h3.heading3 {
    font-size: 1.424rem; /* 22.78px */
  }
  p {
    font-size: 1rem; /* 16px */
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  /* Tablet */
  h1 {
    font-size: 2.986rem; /* 47.78px */
  }
  h2.heading1,
  h2.heading3 {
    font-size: 2.488rem; /* 39.81px */
  }
  h3.heading1,
  h3.heading3 {
    font-size: 1.728rem; /* 27.65px */
  }
  p {
    font-size: 1rem; /* 16px */
  }

  .first-part {
    padding-left: 150px;
    padding-right: 150px;
  }
  .welcome h2 {
    padding-right: 400px;
  }
  .feedback-about1,
  .feedback-about2,
  .feedback-about3 {
    padding-top: 2000px;
  }
  .content2 {
    flex-direction: row !important;
  }
}

@media (min-width: 1025px) {
  /* Desktop */
  h1 {
    font-size: 3.815rem; /* 61.04px */
  }
  h2.heading1,
  h2.heading3 {
    font-size: 3.052rem; /* 48.83px */
  }
  h3.heading1,
  h3.heading3 {
    font-size: 1.953rem; /* 31.25px */
  }
  p {
    font-size: 1rem; /* 16px */
  }
}

/* Text */
.text-center {
  text-align: center;
  color: white;
}
.text-center1 {
  text-align: center;
  color: #000000;
}

/* Buttons */
.buttons-container {
  text-align: center;
  padding: 68px 0;
  margin-bottom: 0;
  font-weight: bolder; /* Bold letters */
}

.button-wrapper {
  display: inline-block;
}

.button-explore {
  background-color: white; /* White background */
  color: black; /* Black text */
  padding: 20px 40px 20px 40px;
  text-decoration: none;
  font-family: "Karla", sans-serif;
  font-size: larger;
}

.button-explore:hover {
  background-color: #d69e3d; /* Gold color */
  color: black; /* Black text */
}

/* Gallery and Images */
.gallery {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 400px;
}

.gallery-image {
  /* width: 95%; */
  height: auto;
  object-fit: contain;
}

/* Image */
.image-full img {
  width: 230px;
  height: 230px;
}
.grid {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
  gap: 0.5rem;
}
.grid-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.group-container {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 0.5rem;
}

.column {
  flex-basis: 50%;
}

.what h3 {
  color: #d69e3d;
}

.what h2 {
  font-size: 32pt;
}
.content2 {
  display: flex;
  flex-direction: column;
}
.content2 .text-center1 {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 30px;
}

.small-image {
  display: block;
  margin: 20px auto;
  max-width: 100px;
  height: auto;
}

/* our-menu*/
.our-menu {
  background: rgba(0, 0, 0, 0.7) url("images/coffee-shop.jpeg"); /* Background image added here */
  background-size: cover; /* Ensure the image covers the entire area */
  background-position: center; /* Center the background image */
  background-blend-mode: darken;
  text-align: center;
  padding: 0px 0px;
}

.our-menu h2 {
  font-size: 30pt;
  margin: 0;
  padding-bottom: 20px;
  color: #ffffff;
}

.our-menu h3 {
  padding-top: 80px;
  font-size: 24pt;
  padding-bottom: 0px;
  color: #d69e3d;
}

.our-menu a.button {
  display: inline-block;
  font-size: 18pt;
  font-weight: 1000;
  margin-top: 20px;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  text-decoration: none;
  font-family: "Karla", sans-serif;
  margin-bottom: 50px;
}
.our-location a.button {
  background-color: transparent; /* Make background transparent */
  color: #ffffff; /* Text color white */
  border: 5px solid #ffffff; /*  5px Thick white border */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.our-location a.button:hover {
  background-color: #ffffff; /* White background on hover */
  color: rgb(0, 0, 0); /* Black text on hover */
}
/*About us*/
.about-us {
  color: black;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 1rem; /* 16px */
  padding: 10px;
  margin-bottom: 50px;
}

.about-us h3 {
  color: #d69e3d;
  font-weight: bolder;
}

.about-us p {
  font-size: 15pt;
  padding: 10px;
  margin-bottom: 10px; /* Adjust the margin between paragraphs */
}
.about-us h2 {
  margin-bottom: -15px; /* Adjust the margin between "READ OUR STORY" and paragraphs */
}

.about-us a.button {
  font-weight: bolder;
  display: inline-block;
  color: #ffffff;
  border: 0.5px solid #ffffff;
  padding: 10px 20px;
  background-color: black;
  text-decoration: none;
  font-family: "Karla", sans-serif;
  margin-top: 20px;
  margin-bottom: 50px;
}

/* Feedback */
.feedback {
  background: black;
  /* padding: 50px 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.feedback-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.feedback-content {
  display: flex;
  flex-direction: column;
}
.feedback h3 {
  font-size: 24pt;
  color: #d69e3d;
}

.feedback h2 {
  text-align: left;
  font-size: 24pt;
  color: #ffffff;
  padding-left: 10px;
}
.feedback-about1 {
  background: url("images/testimonial-1.jpeg"); /* Background image added here */
  background-size: cover; /* Ensure the image covers the entire area */
  background-position: center; /* Center the background image */
  background-blend-mode: darken;
  padding-top: 500px;
  margin-top: 80px;
  color: #ffffff;
  font-size: 12pt;
  font-weight: bolder;
}
.feedback-about2 {
  background: url("images/testimonial-2.jpeg"); /* Background image added here */
  background-size: cover; /* Ensure the image covers the entire area */
  background-position: center; /* Center the background image */
  background-blend-mode: darken;
  padding-top: 500px;
  margin-top: 80px;
  color: #ffffff;
  font-size: 12pt;
  font-weight: bolder;
}
.feedback-about3 {
  background: url("images/testimonial-3.jpeg"); /* Background image added here */
  background-size: cover; /* Ensure the image covers the entire area */
  background-position: center; /* Center the background image */
  background-blend-mode: darken;
  padding-top: 500px;
  margin-top: 80px;
  color: #ffffff;
  font-size: 12pt;
  font-weight: bolder;
}

hr {
  width: 90%;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: black;
  color: white;
  font-size: 16pt;
}
/* Desktop  */
@media (min-width: 600px) {
  .grid {
    display: flex;
    max-height: 600px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .grid-wrapper {
    display: flex;
    flex-direction: column;
  }
  .gallery {
    height: 500px;
  }
  .content2 {
    flex-direction: row;
  }
  .feedback-content {
    flex-direction: row;
  }
}
